* {
    font-family: 'Raleway';
}

body {
    background: #f0f3f5;
    color: #000;
}

header {
    background: #6f3f20;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0;
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.columna-nav {
    text-align: center;
    align-content: center;
    border: 0.5px solid #9b9b9b;
    margin-bottom: 1px;
    padding: 2px;
    vertical-align: center;
}

footer {
    background: #6f3f20;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}